@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	padding:0px;
	
	vertical-align:middle;
	
}
#main {
	vertical-align:bottom;
	align:center;
	text-align:center;
	padding:0px;
	
	
}
#headContainer {
	
	height:80px;
	padding:0px;
	vertical-align:middle;
	background-color:#e5e4e9;
}

#header_tb{
	height:auto;
	min-width:1000px;
	width:100%;
	vertical-align:middle;
}
#logoContainer {
	width:210px;
	padding-left:10px;
}
.noSpace {
	padding:0;
	margin:0;
	visibility:visible;
}

.paddingLeft{
	padding-left:10px;
}
.paddingRight{
	padding-Right:10px;
}
