@charset "utf-8";
/* CSS Document */
#closeUndo {
	cursor: pointer;
}

p.text-gene {
	margin: 0px;
}

a:hover {
	cursor: pointer;
}

.textwrap {
	white-space: normal;
}

.horizontal-nav {
	background: #efefef;
	border-radius: 6px;
}

.horizontal-nav ul {
	background: #E2E2E2;
	float: left;
	text-align: center;
	border-radius: 6px;
	border: 1px solid #494949;
	list-style-type: none;
	padding: 0px;
}

.horizontal-nav ul li {
	float: left;
	border-left: 1px solid #494949;
}

.horizontal-nav ul li:first-child {
	border-left: 0 none;
}

.horizontal-nav ul li a {
	display: block;
	padding: 10px 20px;
	color: black;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	border-left: 1px solid rgba(255, 255, 255, 0.25);
	text-decoration: none;
}

.horizontal-nav ul li:first-child a {
	border-left: 0 none;
}

.horizontal-nav1 {
	background: #efefef;
	border-radius: 6px;
}

.horizontal-nav1 ul {
	background: #E2E2E2;
	float: left;
	text-align: center;
	border-radius: 6px;
	border: 1px solid #494949;
	list-style-type: none;
	padding: 0px;
}

.horizontal-nav1 ul li {
	float: left;
	border-left: 1px solid #B7B7B7;
}

.horizontal-nav1 ul li:first-child {
	border-left: 0 none;
}

.horizontal-nav1 ul li a {
	display: block;
	padding: 10px 20px;
	color: black;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	border-left: 1px solid rgba(255, 255, 255, 0.25);
	text-decoration: none;
}

.horizontal-nav1 ul li:first-child a {
	border-left: 0 none;
}

.horizontal-nav1 ul li a:hover {
	background: grey;
	color: white;
	text-decoration: underline;
}

.horizontal-nav1 ul li:first-child a {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.horizontal-nav1 ul li:last-child a {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

h2 {
	padding-left: 2em;
	background-color: beige;
}

h3 {
	padding-left: 2em;
	background-color: beige;
}

h3.panel-title {
	padding-left: 0;
	background-color: initial;
}

.horizontal-nav ul li a:hover {
	background: grey;
	color: white;
	text-decoration: underline;
}

.horizontal-nav ul li:first-child a {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.horizontal-nav ul li:last-child a {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.loginWrap {
	width: 400px;
	margin: 20px auto;
	border: 1px solid #a1a1a1;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #eee;
	background: #EFEFEF;
	box-shadow: 1px 1px 0px #ddd;
}

div.login-screen {
	text-align: center;
	background-image: url("../images/login-screen.jpg");
	background-position: center top;
	background-repeat: repeat-x;
	padding: 15px;
	background-size: cover;
}

.error {
	color: #ff0000;
}

.success {
	color: green;
}

.errorblock {
	color: #000000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

table.table-border {
	border-color: #BFBFBF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-spacing: 15px;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	empty-cells: show;
	width: 265px;
	text-align: left;
}

table.table-border1 {
	border-color: #BFBFBF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-spacing: 5px;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	empty-cells: show;
	margin-bottom: 7px;
	margin-top: 10px;
	margin-left: 4px;
	padding: 5px;
	padding-top: 0;
	text-align: left;
}

table.table-border td {
	padding-top: 10px;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 15px;
}

table.table-border td {
	color: black;
	padding-left: 10px;
}

table.table-border th {
	background-color: lightgray;
	padding: 5px;
}

button.submit {
	background: transparent url("../images/os-btn-r-bg1.png") no-repeat
		scroll right -3px;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 31px;
	margin-left: 20px;
	margin-right: 4px;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: 0;
	overflow: visible;
	padding: 0 12px 0 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;
}

button.submit span {
	background: transparent url("../images/os-btn-l-bg1.png") no-repeat
		scroll left -3px;
	display: block;
	height: 31px;
	line-height: 31px;
	margin: 0;
	padding: 0 5px 0 20px;
	white-space: nowrap;
}

button.submit:hover,button.submit:focus {
	background-position: right -41px;
}

button.submit:hover span,button.submit:focus span {
	background-position: left -41px;
}

button.submit::-moz-focus-inner {
	border: 0 none;
	padding: 0 3px;
}

button.submit:focus::-moz-focus-inner {
	border-color: transparent !important;
	padding: 0 3px;
}

button.submit:active {
	background-position: right -79px;
}

button.submit:active span {
	background-position: left -79px;
}

input,textarea {
	color: #111111;
	font-family: 'Verdana', 'ARIAL', 'Helvetica', 'SANS-SERIF';
	font-size: 11px;
	font-weight: normal;
	padding-top: 5px;
}

input.input-gene,textarea.input-textarea {
	color: #111111;
	font-family: 'Verdana', 'ARIAL', 'Helvetica', 'SANS-SERIF';
	font-size: 11px;
	font-weight: normal;
	padding-top: 5px;
	height: 20px;
}

div.login-errorblock {
	margin-top: 3.8em;
}

div.signup-successblock {
	margin-top: 3.8em;
}

.xWrap {
	padding: 20px;
	background: #CCC;
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0)
		0%, rgba(0, 0, 0, 0.15) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0)
		0%, rgba(0, 0, 0, 0.15) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0)
		0%, rgba(0, 0, 0, 0.15) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0)
		0%, rgba(0, 0, 0, 0.15) 100%);
	background: radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.15) 100%);
}

body {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

#diagramTable {
	height: 175px;
	overflow: scroll;
	overflow-x: hidden;
}

#diagramTableGeneSearch {
	height: 80px;
	overflow: auto;
	overflow-x: hidden;
}

#main {
	height: auto;
	vertical-align: top;
	align: center;
	text-align: center;
	padding-bottom: 10px;
}

#tableExpreDIV {
	z-index: 10;
	position: absolute;
	top: 400px;
	left: 50px;
}

#headContainer {
	min-width: 1000px;
	height: 130px;
	padding: 0px;
	vertical-align: baseline;
	background-color: #e5e4e9;
	border-bottom: 1px solid #eee;
}

#header_tb {
	height: auto;
	width: 100%;
	vertical-align: top;
}

.noSpace {
	padding: 0;
	margin: 0;
	visibility: visible;
}

#graphHeader {
	background-color: #E9E9E9;
	margin-top: 1px;
	height: 20px;
	border-bottom: solid;
	border-bottom-width: thin;
	border-bottom-color: #CCC;
	border-top: solid;
	border-top-width: thin;
	border-top-color: #CCC;
	padding-bottom: 5px;
	vertical-align: top;
}

#gHead_tb {
	width: 100%;
	min-width: 1000px;
}

.paddingLeft {
	padding-left: 10px;
}

.paddingRight {
	padding-Right: 10px;
}

#graphContent {
	/*the height MUST be set in the HTML because of minimizing/maximizing*/
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: hidden;
}

#annotationContent {
	/*the height MUST be set in the HTML because of minimizing/maximizing*/
	
}

#expreContent {
	/*the height MUST be set in the HTML because of minimizing/maximizing*/
	
}

#annotationHeader {
	background-color: #E9E9E9;
	height: 20px;
	border-bottom: solid;
	border-bottom-width: thin;
	border-bottom-color: #CCC;
	border-top: solid;
	border-top-width: thin;
	border-top-color: #CCC;
	padding-bottom: 5px;
	vertical-align: top;
}

#aHead_tb {
	width: 100%;
	min-width: 1000px;
}

#expreHeader {
	background-color: #E9E9E9;
	margin-top: 1px;
	height: 20px;
	border-bottom: solid;
	border-bottom-width: thin;
	border-bottom-color: #CCC;
	border-top: solid;
	border-top-width: thin;
	border-top-color: #CCC;
	padding-bottom: 5px;
	vertical-align: top;
}

#eHead_tb {
	width: 100%;
	min-width: 1000px;
}

#formContainer_tb {
	min-width: 600px;
	max-width: 800px;
}

.btn {
	background: #f6f6f6;
	background: -moz-linear-gradient(top, #fefefe, #eaeaea);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe),
		color-stop(100%, #eaeaea));
	background: -webkit-linear-gradient(top, #fefefe, #eaeaea);
	background: -o-linear-gradient(top, #fefefe, #eaeaea);
	background: -ms-linear-gradient(top, #fefefe, #eaeaea);
	background: linear-gradient(to bottom, #fefefe, #eaeaea);
	border: 1px solid #ccc;
	color: #666 !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75)
}

.btn-mod {
	background: #f6f6f6;
	background: -moz-linear-gradient(top, #fefefe, #eaeaea);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe),
		color-stop(100%, #eaeaea));
	background: -webkit-linear-gradient(top, #fefefe, #eaeaea);
	background: -o-linear-gradient(top, #fefefe, #eaeaea);
	background: -ms-linear-gradient(top, #fefefe, #eaeaea);
	background: linear-gradient(to bottom, #fefefe, #eaeaea);
	border: 1px solid #ccc;
	color: #666 !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75)
}

.btn-gene {
	background: #f6f6f6;
	background: -moz-linear-gradient(top, #fefefe, #eaeaea);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe),
		color-stop(100%, #eaeaea));
	background: -webkit-linear-gradient(top, #fefefe, #eaeaea);
	background: -o-linear-gradient(top, #fefefe, #eaeaea);
	background: -ms-linear-gradient(top, #fefefe, #eaeaea);
	background: linear-gradient(to bottom, #fefefe, #eaeaea);
	border: 1px solid #ccc;
	color: #666 !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	height: 20px;
}

.btn-mod-gene {
	background: #f6f6f6;
	background: -moz-linear-gradient(top, #fefefe, #eaeaea);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe),
		color-stop(100%, #eaeaea));
	background: -webkit-linear-gradient(top, #fefefe, #eaeaea);
	background: -o-linear-gradient(top, #fefefe, #eaeaea);
	background: -ms-linear-gradient(top, #fefefe, #eaeaea);
	background: linear-gradient(to bottom, #fefefe, #eaeaea);
	border: 1px solid #ccc;
	color: #666 !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75)
}

#midContainer {
	width: 100%;
	height: 350px;
	background-color: #FFF;
	/* 	position: absolute; */
	top: 100px;
	border-bottom: 1px solid #555;
	border-top: 1px solid #888888;
}

#logoContainer {
	min-width: 220px;
	width: 230px;
	height: 85px;
}

#bottunContainer {
	padding-top: 80px;
	width: 700px;
	height: 280px;
}

#geneBTN {
	width: 120px;
	height: 80px;
	vertical-align: middle;
	padding: 10px 0px;
	position: relative;
	left: 5px;
	z-index: 100;
}

#moduleBTN {
	width: 120px;
	height: 80px;
	position: relative;
	top: -102px;
	left: 140px;
	vertical-align: middle;
	padding: 10px 0px;
}

#pathwayBTN {
	width: 120px;
	height: 80px;
	position: relative;
	top: -204px;
	left: 275px;
	vertical-align: middle;
	padding: 10px 0px;
}

#downloadBTN {
	width: 120px;
	height: 80px;
	position: relative;
	top: -306px;
	left: 410px;
	vertical-align: middle;
	padding: 10px 0px;
}

#tdLogo {
	padding-top: 84px;
}

.containerTable {
	margin-top: -80px;
}

.TXTstyle {
	color: #003;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
	margin-top: 5px;
	margin-left: 5px;
	font-size: 14px;
}

.handHover:hover {
	cursor: pointer;
}

.hyperLink {
	text-decoration: underline;
	cursor: pointer;
	display: inline-block;
	color: -webkit-link;
}

.hyperLink-conditions {
	cursor: pointer;
	display: inline-block;
	color: -webkit-link;
}

.hyperLink-genes {
	text-decoration: underline;
	cursor: pointer;
	color: -webkit-link;
}

a:link {
	text-decoration: underline
}

.tooltip {
	position: absolute;
	top: 10;
	left: 0;
	z-index: 3;
	display: none;
	background-color: #EBEBEB;
	border: 1px solid #ACACAC;
	font-stretch: narrower;
	font-style: normal;
	font-weight: 100;
	max-width: 300px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	font-size: 12px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .8) url("../images/load.gif") 50% 50%
		no-repeat;
}

body.loading {
	overflow: hidden;
}

body.loading .modal {
	display: block;
}

.dropdown dd,.dropdown dt {
	margin: 0px;
	padding: 0px;
}

.dropdown ul {
	margin: -1px 0 0 0;
}

.dropdown dd {
	position: relative;
}

.dropdown a,.dropdown a:visited {
	color: #fff;
	text-decoration: none;
	outline: none;
	font-size: 12px;
}

.dropdown dt a {
	background-color: #4F6877;
	display: block;
	padding: 8px 20px 5px 10px;
	min-height: 25px;
	line-height: 24px;
	overflow: hidden;
	border: 0;
	width: 272px;
}

.dropdown dt a span,.multiSel span {
	cursor: pointer;
	display: inline-block;
	padding: 0 3px 2px 0;
}

.dropdown dd ul {
	background-color: #4F6877;
	border: 0;
	color: #fff;
	display: none;
	left: 0px;
	padding: 2px 15px 2px 5px;
	position: absolute;
	top: 2px;
	width: 280px;
	list-style: none;
	height: 100px;
	overflow: auto;
}

.dropdown span.value {
	display: none;
}

.dropdown dd ul li a {
	padding: 5px;
	display: block;
}

.dropdown dd ul li a:hover {
	background-color: #fff;
}

.ui-dialog-titlebar-close span {
	margin: -8px !important;
}

.help-icon img {
	width: 20px;
	margin-top: 5px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.centerText {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.file-radius {
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

.col-text-align {
	text-align: left;
}

.control-disabled {
	color: #ccc;
}

.zero-padding {
	padding: 0;
}

.custom-tooltip-position {
	z-index: 5;
}

#logo {
	float: left;
	position: absolute;
	margin-top: 25px;
	z-index: 5;
}

.header-menu {
	float: left;
	margin-top: 35px;
	width: 100%;
}

.main-menu {
	position: relative;
	margin-top: -146px;
	float: right;
}

.module-buttons {
	padding-right: 10px;
	padding-top: 46px;
	vertical-align: middle;
	width: 12%;
}

.custom-tooltip-class {
	font-size: 1em;
}

.ui-tooltip-content {
    font-size: 0.8em;
	font-family: 'Verdana', 'ARIAL', 'Helvetica', 'SANS-SERIF';
}

.no-content {
    position: relative;
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
}