@charset "utf-8";
/* CSS Document */

#bgTable{
	margin:0;
	padding:0;
	border-collapse:collapse;
	background-color:#f3f3f3;
	
}
.collapsed{
	border-collapse:collapse;
	margin:0;
	padding:0;
	border-spacing:0;
	vertical-align:middle;
	text-align:center;
}
p{
	margin:0;
	padding:0;
}
.title{
	font:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-variant:small-caps;
	vertical-align:top;
	text-align:center;
	padding:12px;
}
#centralLeft{
	margin:0;
	background-image:url(../tb-images/left.jpg);
	background-position:top, left;
	background-repeat:no-repeat;
}
#centralRight{
	background-image:url(../tb-images/right.jpg);
	background-position:top, left;
	background-repeat:no-repeat;
}
.nospace{
	padding:0;
	margin:0;
}
.title2{
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
	font-size: 12px;
	color: #669;
	margin-top:5px;
}
.valueTXT{
	color:#003;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
	margin-top:5px;
	margin-left:5px;
	font-size: 12px;
	
}
.aTag{
	font-style:normal;
	text-decoration:none;
}
#pathwayTable{
	border-collapse: collapse;
	margin-top:50px;
	text-align:center;
	padding-top:50px;
	
	
}
#pathwayTable th
{
	
	border-bottom: 3px solid #6678b1;
	border-collapse: collapse;
	color: #669;
	margin:0;
	padding:0;
}

#pathwayTable td
{
	
	border-top: 1px solid #dddddd;
	font-weight: normal;
	font-size: 14px;
	color:#003;
	margin:2px 2px 2px 2px;
	padding:5px 5px 5px 5px;
}


#moduleTable{
	border-collapse: collapse;
	margin-top:50px;
	text-align:center;
	padding-top:50px;
	
	
}
#moduleTable th
{
	
	border-bottom: 3px solid #6678b1;
	border-collapse: collapse;
	color: #669;
	margin:0px;
	padding:0px;
}

#moduleTable td
{
	
	border-top: 1px solid #dddddd;
	font-weight: normal;
	font-size: 14px;
	color:#003;
	margin:0px;
	padding:0px;
}


#enrichmentTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
	font-size: 12px;
	width: 100%;
	border-collapse:collapse;
}

#enrichmentTable td
{
	padding: 2px 2px 2px 2px;
	text-align:center;
	border-bottom: 2px solid #f3f3f3;
	margin:3px 3px 3px 3px;
	color:#003;
	
}

#enrichmentTableHeader
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
	font-size: 12px;
	width: 100%;
	text-align: left;

}
#enrichmentTableHeader th
{
	padding: 8px 2px;
	font-weight: normal;
	font-size: 14px;
	color: #669;
}



#annotationTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

#annotationTable td
{
	padding: 12px 2px 0px 2px;
	border-right: 30px solid #f3f3f3;
	border-left: 30px solid #f3f3f3;
	text-align:left;
	color:#003;
}

#annotationTableHeader
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#annotationTableHeader th
{
	padding: 8px 2px;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 2px solid #6678b1;
	border-right: 30px solid #f3f3f3;
	border-left: 30px solid #f3f3f3;
	color: #669;
}



#ver-minimalist
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
	font-size: 12px;
	width: 90%;
	text-align: left;
	border-collapse: collapse;
}
#ver-minimalist th
{
	padding: 8px 2px;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 2px solid #6678b1;
	border-right: 30px solid #f3f3f3;
	border-left: 30px solid #f3f3f3;
	color: #669;
}
#ver-minimalist td
{
	padding: 12px 2px 0px 2px;
	border-right: 30px solid #f3f3f3;
	border-left: 30px solid #f3f3f3;
	color:#003;
}

#geneAnnoHead
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
	font-size: 12px;
	width: 90%;
	text-align: left;
	border-collapse: collapse;
}
#geneAnnoHead th
{
	padding: 8px 2px;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 2px solid #6678b1;
	color: #669;
}



#geneAnno
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;

}
#geneAnno th
{
	padding: 8px 2px;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 2px solid #6678b1;
	border-right: 30px solid #f3f3f3;
	border-left: 30px solid #f3f3f3;
	color: #669;
}
#geneAnno td
{
	padding: 12px 2px 0px 2px;
	border-right: 30px solid #f3f3f3;
	border-left: 30px solid #f3f3f3;
	color:#003;
}